<h1 style= "font-family: cursive;"> Welcome Home <%= current_user.username.upcase %> </h1>

<div>
<h2 style="text-align: center;" > Book group by Genre </h2>
<%= line_chart Book.group(:genre).count %>
<div>

<div> 
  <h2 style= "text-align: center;">  Users Commented Books </h2> 
  <%= pie_chart Comment.joins(:participant).group('users.username').count %>
  
</div> 



<div>

<%= link_to "Explore Book Catalog", books_path %>

</div>

<div>

<%= link_to "Your book favorites", follows_path %>
</div>

<div>

<%= link_to "Comments", comments_path %>

</div>
