<h1 style= "font-family: cursive;"> Welcome Home <%= current_user.username.upcase %> </h1>

<div>
<h2 style="text-align: center;" > Book group by Genre </h2>
<%= pie_chart Book.group(:genre).count %>
<div>

<p> The Bookmark application is for users who want to connect and chat about books they read. </p>

<%= link_to "Your book favorites", follows_path %>

<div>

<%= link_to "Comments", comments_path %>

</div>

<div>

<%= link_to "List of Books", books_path %>

</div>
