<h1 style= "font-family: cursive;"> Welcome Home <%= current_user.username.upcase %> </h1>
<div>
  <p> <strong> Welcome to Bookmark a web application where you can give your comments about a book and ask question to other users </strong> </p>
</div>
<div>
<h2 style="text-align: center; padding: 10px; " > Book Collection Group by Genre </h2>
<%= line_chart Book.group(:genre).count %>
<div>

<div> 
  <h2 style= "text-align: center;">  Users Commented Books </h2> 
  <%= pie_chart Comment.joins(:participant).group('users.username').count %>
  
</div> 



<div>

<%= link_to "Explore Book Catalog", books_path %>

</div>

<div>

<%= link_to "Your book favorites", follows_path %>
</div>

