<div class= "card" >
<div class= "card-body">

<div id="<%= dom_id book %>" >

  

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

 

  <p>
    <strong>Who posted it:</strong>
    <%= book.user.username %>
  </p>

 
</div>
</div>
</div>
 

 