<div>
  <p style="color: green"><%= notice %></p>

  <%= link_to "Create a New  book to discuss", new_book_path %>

  <h1>The Library</h1>
  <div> 
  <%= search_form_for @q do |f| %> 
    <h6> Filter your results:</h6> 

    <div>
      <%= f.label :title_cont, "Title containing" %> 
      <%= f.text_field :title_cont, :placeholder => "Enter a book " %> 
    </div> 
  

    <div>
      <%= f.label :author_cont, "Author containing" %> 
      <%= f.text_field :author_cont, :placeholder => "Enter an author" %> 
    </div> 

    <div>
      <%= f.label :genre_cont, "Genre Search" %> 
      <%= f.text_field :genre_cont, :placeholder => "i.e fiction " %> 
    
    </div>

    <div>
      <%= f.submit :class => "btn btn-primary btn-block" %> 
    </div>
 
  <a href="/books"> Clear filers </a> 

<% end %> 
</div> 
<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

  <% @books.each do |book| %>
  <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-body">
  <div class="card-header"> <%= book.title %> </div>
   <%= render book %>
   </div> 
   </div> 
    
    <p>
      <%= link_to "Show this book", book %>
    </p>

    <p>
    <%= button_to "Destroy this book", @book, method: :delete %>
    </p>
   
  <% end %>
  
