<p style="color: green"><%= notice %></p>

<%= render @book %>

<h2>Comments About <%= @book.title %></h2>

<% @book.comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>



<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
  

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>

