<p style="color: green"><%= notice %></p>

<%= render @book %>

<h2>Comments About <%= @book.title %></h2>
<ul class="list-group list-group-flush">
  <% @book.comments.each do |comment| %>
    <div class= "card" >
    <div class= "card-body">
      <p><%= comment.body %></p>
    </div>
    </div>
  <% end %>
</ul>

<%= render "comments/form", comment: @book.comments.build %>


<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
  

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
