<p style="color: green"><%= notice %></p>

<%= render @book %>

<%= form_with model: Follow.new do |form| %>
  <%= form.hidden_field :book_id, value: @book.id %>
  <%= form.submit 'Add to favorites', class: "btn btn-primary" %>
<% end %>


<hr>



<h2>Comments About <%= @book.title %></h2>
<ul class="list-group list-group-flush">
  <% @book.comments.each do |comment| %>
  <li class ="list-group-item">
    <div class= "card" >
    <div class= "card-body">
      <p><%= comment.body %></p>
      <p><%= comment.participant.username.capitalize %></p>
      <p> <%= comment.created_at.strftime("%m/%d/%Y" " %I:%M:%S%P") %> </p>
      <% if current_user && comment.user_id == current_user.id %>
      <%= button_to 'Delete', comment_path(comment), method: :delete, remote: true, class: 'delete-comment-btn' %>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <% end %>
    </div>
    </div>
  <% end %>
</ul>

<h3> Add a comment </h3>
  <%= render "comments/form", comment: @book.comments.build %>
