<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofP+YlT+A6zwe5DqC5EPa0ByFg5XddUj+P" crossorigin="anonymous">

    <%= javascript_importmap_tags %>
    <%= render "shared/cdn_assets" %>
  </head>

  <body>
    <%= render "shared/navbar" %> 
    <%= render "shared/flash" %>

   
    <div class ="container">
     <%= render "shared/breadcrumbs"%>
    <%= yield %>
    </div>
  </body>
</html>
